
html,body,#contents,.wrapper,#back{
  background-color: #fff;
  height: 100%;
  width: 100%;
  position: relative;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

header{
  position: fixed;
  width: 100%;
  background-color: #006699;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}

footer{
  position: fixed;
  width: 100%;
  background-color: #008080;
  bottom:0;
  padding: 5px;
  text-align: right;
  font-size: 10px;
  color: #fff;
}

header h1{
  font-size: 20px;
  color: #fff;
}

header ul{
  display: flex;
  margin-left: auto;
}

header ul li{
  margin-left: 20px;
}

a {
  font-weight:bold;
  text-decoration:none;
  }

a:link {
  color:#fff;
}

a:visited {
  color:#afeeee;
}

a:hover {
  color:#dda0dd;
  text-decoration:underline;
}

a:active {
  color:#66cdaa;
}

#contents{
  overflow: hidden;
}

#back{
  background-image: url(../images/kagawa.jpg);
  background-size: cover;
  background-position: center center;
  top:100%;
  transition: 2s all;

}

#back.anime{
  top: 0%;
}

#person{
  position: absolute;
  top:200px;
  right: -100px;
  width: 100px;
  transition: 0.6s all;
}

#person.anime{
  right: 10px;
}


#car{
  position: absolute;
  bottom:100px;
  max-width: 40%;
  left: -250px;
  width: 250px;
  transition: 0.6s all;
}

#car.anime{
  left: 0px;
}

#food{
  width: 50%;
  bottom: 10%;
  margin-left: -25%;
  left: 50%;
  position: absolute;
  opacity: 0;
}


#food.anime {
  /* cssライブラリanimate.cssを利用 */
  animation: zoomInDown;
  animation-duration: 1s; 
  opacity: 1;
}


#intro{
  position: fixed;
  display: flex;
  z-index: 101;
  background-color: #006699;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: sans-serif;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  top: 0;
}